@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using AspNetCore.API.Models
@model IEnumerable<AspNetCore.API.Models.World>

@{
    Layout = "_Layout";
}

<!-- Render the existing worlds -->
<h1>Worlds</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Theme</th>
        <th>Ecosystem</th>
        <th>Population</th>
        <th>Avg. Surface Temp.</th>
    </tr>
    </thead>
    <tbody>
    @foreach (World world in Model)
    {
        <tr>
            <td>#@world.Id</td>
            <td>@world.Name</td>
            <td>@world.Theme</td>
            <td>@world.Ecosystem</td>
            <td>@($"{world.Population:### ### ### ###}")</td>
            <td>@($"{world.AvgSurfaceTemp:F}")&deg;</td>
        </tr>
    }
    </tbody>
</table>

<!-- Form to generate new worlds -->
<h2>Generate new Worlds</h2>
<form method="post" asp-action="Generate" style="display: flex; gap: 1rem;">
    <!-- adjust the action URL as needed -->
    <label>
        Worlds to generate
        <input type="number" class="form-control" name="worldsToGenerate" required>
    </label>
    <button type="submit" class="btn btn-primary">Generate worlds</button>
</form>